.feature-bar {
  background-color: #fff;
  padding: 30px 20px;
  margin: 30px 0;
}

.feature-container {
  background-color: rgba(242, 242, 242, 0.514);
  width: 93%;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  justify-content: space-around;
  padding: 20px 30px;
  border-radius: 10px
}

.feature-item {
  display: flex;
  gap: 15px;
  align-items: center;

}

.feature-icon {
  font-size: 32px;
  flex-shrink: 0;
}

.feature-content h4 {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #000000;
  margin-bottom: 6px;

}

.feature-content p {
  font-size: 13px;
  color: #666;
}

@media (max-width: 768px) {
  .feature-container {
    gap: 20px;
    grid-template-columns: 1fr;
  }
}
