.header {
  background-color: #1a1a1a;
  color: #fff;
  padding: 20px 30px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-container {

  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.logo-text {
  font-size: 28px;
  font-weight: 700;
  color: #92c13d;
  letter-spacing: 0.5px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-right: 8%;
}

.tagimg{
  width: 20px;
  margin-bottom: 10px;

}

.nav-item {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  gap: 5px;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #92c13d;
}

.nav-item.dropdown {
  position: relative;
}

.arrow>img{
  width: 10px;
  margin-bottom: 2px;
}

.header-actions {
  display: flex;
  gap: 15px;
  align-items: center;
}

.icon-btn {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s;
  width: 40px;
  height: 40px;
}

.icon-btn>img{
  width: 25px;
}


.icon-btn:hover {
  color: #92c13d;
}

.cart-btn {
  position: relative;
}

@media (max-width: 768px) {
  .header-container {
    gap: 15px;
    flex-wrap: wrap;
  }

  .nav-menu {
    gap: 15px;
    font-size: 12px;
  }

  .logo-text {
    font-size: 22px;
  }
}
