.ui-label {
  font-size: 0.875rem; /* text-sm */
  font-weight: 500; /* font-medium */
  line-height: 1;
  color: #374151; /* text-gray-700 */
}

.ui-label-disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
